{% extends "user_management/base.html" %}

{% block content %}
 
  <div class="background">
    <div class="container-fluid-1">
      <div class="panel pricing-table">
        
        <div class="pricing-plan">
          <img src="https://i.ibb.co/yYxjrxv/single.png" alt="" class="pricing-img">
          <h2 class="pricing-header">Single Sharing</h2>
          <ul class="pricing-features">
            <li class="pricing-features-item">Be in your personal space</li>
            <li class="pricing-features-item">Good For Study/Preparation</li>
          </ul>
          <br>
          <br>
          <span class="pricing-price">15,900 ₹</span>
          
        </div>
        
        <div class="pricing-plan">
          <img src="https://i.ibb.co/9VLpkHT/dual.png" alt="" class="pricing-img">
          <h2 class="pricing-header">Double Sharing</h2>
          <ul class="pricing-features">
            <li class="pricing-features-item">Want someone to talk?</li>
            <li class="pricing-features-item">Want someone to share your pizza?</li>
          </ul>
          <br>
          <br>
          <span class="pricing-price">9,900 ₹</span>
          
        </div>
        
        <div class="pricing-plan">
          <img src="https://i.ibb.co/LrfJcDq/triple.png" alt="" class="pricing-img">
          <h2 class="pricing-header">Triple Sharing</h2>
          <ul class="pricing-features">
            <li class="pricing-features-item">A triangle is the strongest shape in nature.</li>
            <li class="pricing-features-item">Why have one best friend when you can have two</li>
          </ul>
          <span class="pricing-price">8,900 ₹</span>
          
        </div>
        
      </div>
    </div>
  </div>
  
{% endblock content %}